<!DOCTYPE html>
<html lang="en">
{% load static tailwind_tags %} <!-- Charger les balises nécessaires -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	{% tailwind_css %}
    <title>{% block title %}Manga Reader{% endblock %}</title>
    <script src="{% static 'js/manga_reader.js' %}" defer></script>
</head>
<body class="bg-gradient-to-br from-gray-900 via-gray-800 to-gray-900 text-gray-100 min-h-screen flex flex-col">
    <div class="container mx-auto p-6 flex-grow flex flex-col">
        <!-- Header -->
        <header class="mb-6">
            <h1 class="text-5xl font-bold text-center text-blue-400 drop-shadow-lg">Manga Reader</h1>
            <p class="text-center text-gray-300 mt-2">Effortlessly enjoy your favorite manga panels</p>
        </header>

        <!-- Main Content -->
        <main class="flex-grow">
            {% block content %}
            <!-- Contenu spécifique à chaque page sera inséré ici -->
            {% endblock %}
        </main>

        <!-- Footer -->
        <footer class="mt-6 text-center text-gray-400">
            <p>&copy; 2024 Manga Reader. All Rights Reserved.</p>
        </footer>
    </div>
</body>
</html>

