<!DOCTYPE html>
<html lang="en">
{% load static tailwind_tags %} <!-- Charger les balises nécessaires -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	{% tailwind_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>{% block title %}Manga Reader{% endblock %}</title>
	<style>
		html, body {
			height: 100%;
			overflow: hidden;
		}
	</style>
</head>
<body class="bg-gradient-to-br from-gray-900 via-gray-800 to-gray-900 text-gray-100 min-h-screen flex flex-col">
    <div class="lg:container w-full mx-auto p-6 flex-grow flex flex-col h-full">
        <!-- Header -->
        <header class="lg:mb-6">
            <h1 class="hidden lg:block lg:text-5xl font-bold text-center text-blue-400 drop-shadow-lg">Manga Reader</h1>
            <p class="text-center text-gray-300 mt-2 hidden lg:block">Effortlessly enjoy your favorite manga panels</p>
        </header>

        <!-- Main Content -->
        <main class="flex-grow h-96">
            {% block content %}
            <!-- Contenu spécifique à chaque page sera inséré ici -->
            {% endblock %}
        </main>

        <!-- Footer -->
        <footer class="text-center text-gray-400 border-t pt-5 border-gray-600">
            <p>&copy; 2024 Manga Reader. All Rights Reserved.</p>
        </footer>
    </div>
    

</body>
</html>

