{% extends 'base.html' %}

{% block title %}
Manga Reader - Import Images
{% endblock %}

{% block content %}
<div class="flex flex-grow items-center justify-center">
    <form action="{% url 'upload_images' %}" method="POST" enctype="multipart/form-data"
          class="border-4 border-dashed border-gray-500 p-6 rounded-lg bg-gray-800 flex flex-col items-center justify-center">
        {% csrf_token %}
        <p class="text-lg text-gray-300 mb-4">Drag and drop images here or click to upload</p>
        <input type="file" name="images" multiple class="mb-4">
        <button type="submit" class="bg-blue-500 text-white py-2 px-6 rounded hover:bg-blue-600 transition shadow-lg">
            Upload
        </button>
    </form>
</div>
{% endblock %}
