{% extends 'base.html' %}

{% block title %}
Manga Reader - Read Manga
{% endblock %}

{% block content %}
<div class="flex h-full">
    <!-- Thumbnails of uploaded images -->
    <div class="w-fit bg-gray-800 border-r border-gray-700 h-full flex flex-col">
        <div class="p-4 border-b border-gray-700">
            <a href="/" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 transition shadow-lg w-full block text-center">
                New Import
            </a>
        </div>
        <div class="flex-grow overflow-y-auto p-4">
            {% for thumbnail in thumbnails %}
            <div class="w-full h-64 overflow-hidden rounded-lg shadow mb-2">
                <img src="/media/uploaded_images/{{ thumbnail }}" alt="{{ thumbnail }}"
                     class="w-full h-full object-cover hover:opacity-75 transition ">
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- Previewer -->
    <div class="flex-grow flex flex-col items-center  px-6">
        {% if panels %}
            <!-- Display the current panel -->
            <div id="previewer" class="w-full h-[70vh] bg-white flex items-center justify-center overflow-hidden rounded-lg">
                <img id="preview-image" src="" alt="Panel Preview" class="w-full max-w-full max-h-full object-contain" />
            </div>
            

            <!-- Navigation buttons -->
            <div class="flex justify-center mt-4 space-x-4">
                <button id="prev-button" class="bg-gray-600 text-white py-2 px-4 rounded hover:bg-gray-500 transition shadow">
                    Previous
                </button>
                <button id="next-button" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 transition shadow">
                    Next
                </button>
            </div>
        {% else %}
            <p class="text-gray-500 text-center">No panels to display.</p>
        {% endif %}
    </div>

</div>
<!-- Include panels data -->
<script id="panels-data" type="application/json">
    {{ panels|safe }}
</script>

{% endblock %}
